@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --yoda: #91C78a;
    --dg: #000a00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background: var(--dg);
    color: #EDEDED;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: var(--dg);
    text-decoration: none;
    font-weight: 600;
    border-radius: 50%;



}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    width: 10px;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
    border-radius: 50%;
}

.navbar a {
    font-size: 18px;
    color: #EDEDED;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;

}

.navbar a:hover,
.navbar a.active {
    color: var(--yoda);
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    background: url('images/yoda-home.png') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;

}


.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: var(--yoda);
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;

}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    width: 150px;
    height: 100%;
    background: var(--yoda);
    border: 2px solid var(--yoda);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 19px;
    color: var(--dg);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.btn-box a:hover {
    color: var(--yoda);

}

.btn-box a:nth-child(2) {
    background: transparent;
    color: var(--yoda);
}

.btn-box a:nth-child(2):hover {
    color: var(--dg);
}

.btn-box a:nth-child(2)::before {
    background: var(--yoda);
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--dg);
    z-index: -1;
    transition: .5s;

}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--yoda);
    border-radius: 50%;
    font-size: 20px;
    color: var(--yoda);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.home-sci a:hover {
    color: var(--dg);

}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--yoda);
    z-index: -1;
    transition: .5s;

}

.home-sci a:hover::before {
    width: 100%;
}
/* contact page */ 
.contact-yoda {
    color: var(--yoda);
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    text-align: center;

    width: 650px;
}
.contact-yoda i {
    margin: 50px;
    font-size: 40px;

}
.contact-yoda p {
    margin-right: 15px;
}


/*
.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 750px;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imgHover:hover {
    opacity: .8;
    background: #000;
}
*/

@media (min-width: 320px) and (max-width: 700px) {
    header {
        display: flex;

    }

    .navbar {
        display: flex;
        flex-direction: column;
        padding-right: 40%;
    }

    .home-content {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .home h1 {
        font-size: 20px;
    }

    .home h3 {
        font-size: 18px;
    }

    .home p {
        font-size: 14px;
    }

    .btn-box {
        display: flex;
        flex-direction: column;

    }

    .btn-box a {
        font-size: 14px;
        padding: 15px;
        margin-bottom: 5px;

    }

    .home p {
        margin-bottom: 10px;
    }
    .contact-yoda {
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 12px;
        flex: 1fr 1fr;
        justify-content: space-between;
    }
    .contact-yoda i {
        font-size: 20px;
        margin-right: -1px;
    }
    .contact-yoda p {
        font-size: 12px;
    }



    @media (min-width: 768px) and (max-width: 1023px) {

        .navbar a,
        .navbar {
            height: 100px;
            width: 50%;
            display: flex;
            justify-content: left;
            font-size: 16px;
            margin: 10px;
            padding: 0;
        }

        .logo {

            margin-right: 10px;
            margin-left: -40px;
        }

        .header {

            display: inline-flex;
            justify-content: flex-start;

        }
    }