@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --yoda: #91C78a;
    --dg: #000a00;
    --text-color: #EDEDED;
    --dg-2: #001e00;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--dg);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--yoda);
    font-weight: 600;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;

}

.navbar a:hover,
.navbar a.active {
    color: var(--yoda);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    /* might need to delete below */
    height: 100vh;
    background: url('images/home-yoda-2.png') no-repeat;
    background-size: cover;
    background-position: center;

}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    font-size: 6.6rem;
    font-weight: 700;
    line-height: 1.3;

}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}


.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--yoda);
}

.home-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;

}

/* Buttons Section */

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background-color: var(--yoda);
    border: .2rem solid var(--yoda);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--dg);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: var(--yoda);

}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--yoda);
}

.btn-box a:nth-child(2):hover {
    color: var(--dg);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--yoda);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--dg);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

/* Social Media Icons */
.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--yoda);
    border-radius: 50%;
    font-size: 20px;
    color: var(--yoda);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.home-sci a:hover {
    color: var(--dg);

}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--yoda);
    z-index: -1;
    transition: .5s;

}

.home-sci a:hover::before {
    width: 100%;
}

/* Image Hover */

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 51%;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imgHover:hover {
    opacity: .8;
    background: #000;
}

/* About Section */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--dg);
    padding-bottom: 6rem;
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--yoda);
}

