@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --yoda: #91C78a;
    --dg: #000a00;
    --text-color: #EDEDED;
    --dg-2: #001e00;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--dg);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.header.sticky {
background: var(--dg);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--yoda);
    font-weight: 600;
    /*
    -webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    box-shadow: 15px 10px 111px 30px rgba(39, 198, 33, 0.75);
    */
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;

}

.navbar a:hover,
.navbar a.active {
    color: var(--yoda);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    /* might need to delete below */
    height: 100vh;
    background: url('images/home-yoda-2.png') no-repeat;
    background-size: cover;
    background-position: center;

}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    font-size: 6.6rem;
    font-weight: 700;
    line-height: 1.3;

}
/* Yoda Main */
.home-content h1 span {
    color: var(--text-color);

}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}


.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--yoda);
}

.home-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;

}

/* Buttons Section */

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background-color: var(--yoda);
    border: .2rem solid var(--yoda);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--dg);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: var(--yoda);

}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--yoda);
}

.btn-box a:nth-child(2):hover {
    color: var(--dg);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--yoda);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--dg);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

/* Social Media Icons */
.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--yoda);
    border-radius: 50%;
    font-size: 20px;
    color: var(--yoda);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.home-sci a:hover {
    color: var(--dg);

}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--yoda);
    z-index: -1;
    transition: .5s;

}

.home-sci a:hover::before {
    width: 100%;
}

/* Image Hover */

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 51%;
    height: 100%;
    background: transparent;
    transition: 3s;

}

.home-imgHover:hover {
    opacity: .8;
    background: #000;
}

/* About Section */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--dg-2);
    padding-bottom: 6rem;
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--yoda);
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--yoda);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--dg-2);
    border-bottom: .2rem solid var(--dg-2);
    border-left: .2rem solid var(--yoda);
    border-right: .2rem solid var(--yoda);
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* Button Section */
.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: var(--dg-2);
}

/* Education Section*/

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    border-left: .2rem solid var(--yoda);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--yoda);
    border-radius: 50%;
}


.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--yoda);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--dg-2);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;

}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--yoda);
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
    ;
}

.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

/* Skills Section */

.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background-color: var(--dg-2);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content {

    position: relative;
    border: .2rem solid var(--yoda);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;

}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--dg);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--yoda);
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--yoda);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--yoda);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 90%;
}

/* Contact Section */
.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--yoda);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);

}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--dg-2);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;

}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--dg);
}

.footer-text p {
    font-size: 1.6rem;
    
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--yoda);
    border: .2rem solid var(--yoda);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}
.footer-iconTop a::before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    background: var(--dg-2);
    z-index: -1;
    transition: .5s;
    
}
.footer-iconTop a:hover::before{
    width: 100%;
}
.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--dg);
    transition: .5s;
}
.footer-iconTop a:hover i {
    color: var(--yoda);
}